dev:
  propel:
    param: 
      classname: DebugPDO
 
all:
  propel:
    class: sfPropelDatabase
    param:
      dsn: mysql:dbname=projects_braun_braunmediapronew;host=localhost 
      username: bluedoor_normal
      password: nothing
      encoding: utf8
      persistent: true
      pooling: false
      classname: PropelPDO
